@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
      color: rgb(var(--foreground-rgb));
  background: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass-card {
    backdrop-filter: blur(5px) saturate(190%);
    -webkit-backdrop-filter: blur(10px) saturate(190%);
    background-color: rgba(45, 45, 45, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}